<%- include('layout') %>


<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="breadcrumb">
				<li>
					 <a href="/admin">首页</a>
				</li>
				<li class="active">
					错误页面
				</li>
			</ul>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						错误提示
					</h3>
				</div>
				<div class="panel-body">
					<%= msg %>
				</div>
				<div class="panel-footer">
					<a href="javascript:window.history.back();">返回上一页</a>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>

