<%- include('layout') %>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="jumbotron">
				<h1>Hello,<%= userInfo1.username %></h1>
				<p>欢迎来到博客后台</p>
			</div>
		</div>
	</div>
</div>


</body>
</html>









